//
// Meetup
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Overpass:300,900');

$font-family-base: "Overpass", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$rh-red-light: #CC0000;
$rh-red: #A30000;
$rh-red-dark: #820000;

$uxd-shadow-color-light: rgba(0,0,0,.15);
$uxd-shadow-color: rgba(0,0,0,.3);

$red: $rh-red-light;

// $font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-bold: 900;

$font-size-xs:   .8rem;

// Core: variables and mixins
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// Core: Reset and dependencies
@import "node_modules/bootstrap/scss/normalize";
// @import "node_modules/bootstrap/scss/print";

// Basics
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
// @import "pf-forms";
// @import "node_modules/bootstrap/scss/buttons";

// Components
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/responsive-embed";
// @import "node_modules/bootstrap/scss/close";

// Components w/ JavaScript
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";

// Utility classes
@import "node_modules/bootstrap/scss/utilities";

.navbar {
  background-color: $rh-red-light;
  background-image:
    linear-gradient(-45deg, $rh-red-dark 0%, $rh-red-dark 30%, transparent 30%),
    linear-gradient(-45deg, $uxd-shadow-color 30%, transparent 31%),
    linear-gradient(-45deg, $rh-red 0%, $rh-red 35%, transparent 35%),
    linear-gradient(-45deg, $uxd-shadow-color-light 35%, transparent 36%);
    // linear-gradient( $rh-red-dark 0%, transparent 30%);

  box-shadow: 0 2px 3px rgba($black,.3);
}

.navbar-toggler {
  border: none;
  i {
    color: rgba(255,255,255,.75);
  }
}

main {
  margin-top: 3.3rem;
}

h1{
  box-shadow: 0 1px 2px rgba($black,.3);
  background: $gray-light;
  color: $white;
  text-transform: uppercase;
  font-size: $font-size-xs;
  padding: ($grid-gutter-width-base/4) ($grid-gutter-width-base/2);
  position: sticky;
  margin: 0;
  top: 3.3rem;
  // font-weight: $font-weight-light;
  strong {
    font-weight: $font-weight-bold;
  }
}

strong {
  font-weight: $font-weight-bold;
}

.table {
  margin: 0;
  th {
    padding-top: 0;
    padding-bottom: 0;
    background: $gray-lighter;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: $gray;
  }
}

address {
  margin: 0;
  font-size: $font-size-xs;
}

.uxd-time {
  background: $gray-lightest;
  font-size: $font-size-xs;
  width: 20%;
  padding-right: 0!important;
}

.uxd-logo {
  text-align: center;
  margin: $spacer*3 $spacer;
  img {
    width: 20%;
  }
}
